{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Soluciones</title>
{% endblock %}

{% block content %}
  <div class="solutions">
    <div class="solutions-content">
      <div class="solutions-title-container">
        <h1 class="barlow-light fs-39">Algunas de<br>nuestras soluciones</h1>
      </div>
      <div class="solutions-carousel owl-carousel">
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Enterprise</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Renovación Tecnológica de HW y SW</li>
              <li>Tech Refresh Básico</li>
              <li>Tech Refresh Avanzado</li>
              <li>Mantenimiento Preventivo</li>
              <li>Inventario de Hardware en Sitio</li>
              <li>PC Support</li>
              <li>Servicios de Call Center</li>
              <li>Distribución de Equipo, Partes y Componentes</li>
              <li>Desarrollo de Soluciones a la Medida</li>
            </ul>
          </div>
          <div class="solutions-card-separator-container">
            <div class="solutions-card-separator"></div>
          </div>
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">End-User</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Extensión de Soporte a Multi-marcas</li>
              <li>Pólizas de Garantía</li>
              <li>Instalación y Mantenimiento de Equipos de computo y Servidores Multi-marcas</li>
              <li>Atención de Garantía en Sitio, Centros de Servicio y fuera de garantia</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Networking</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Cableado Estructurado</li>
              <li>Venta de UPS’s</li>
              <li>Venta de Aires Acondicionados</li>
            </ul>
          </div>
          <div class="solutions-card-separator-container">
            <div class="solutions-card-separator"></div>
          </div>
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Servicios fuera de garantía</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Diagnóstico de Pc’s y Laptops</li>
              <li>Reparación general</li>
              <li>Mantenimiento preventivo</li>
              <li>Limpieza Profunda</li>
              <li>Instalación y configuración de Software</li>
              <li>Respaldo de datos ilimitados</li>
              <li>Antivirus</li>
              <li>Mantenimiento y reparación de impresoras</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mobile version -->
      <div class="solutions-carousel-mobile owl-carousel">
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Enterprise</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Renovación Tecnológica de HW y SW</li>
              <li>Tech Refresh Básico</li>
              <li>Tech Refresh Avanzado</li>
              <li>Mantenimiento Preventivo</li>
              <li>Inventario de Hardware en Sitio</li>
              <li>PC Support</li>
              <li>Servicios de Call Center</li>
              <li>Distribución de Equipo, Partes y Componentes</li>
              <li>Desarrollo de Soluciones a la Medida</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">End-User</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Extensión de Soporte a Multi-marcas</li>
              <li>Pólizas de Garantía</li>
              <li>Instalación y Mantenimiento de Equipos de computo y Servidores Multi-marcas</li>
              <li>Atención de Garantía en Sitio, Centros de Servicio y fuera de garantia</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Networking</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Cableado Estructurado</li>
              <li>Venta de UPS’s</li>
              <li>Venta de Aires Acondicionados</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Servicios fuera de garantía</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Diagnóstico de Pc’s y Laptops</li>
              <li>Reparación general</li>
              <li>Mantenimiento preventivo</li>
              <li>Limpieza Profunda</li>
              <li>Instalación y configuración de Software</li>
              <li>Respaldo de datos ilimitados</li>
              <li>Antivirus</li>
              <li>Mantenimiento y reparación de impresoras</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
